.yellow-me{
color: #ffff00 !important;
}

.bg-image-home {
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-position: center 30%;
background-image: url(../img/intro-bg.png);
background-color: rgba(0,0,0, 1);
}

.full-width {
    width: 100%;
}

.header-scrolled .scrollto{
    color: #ffff00 !important;
}